<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index del sitio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <h2>Hola {{ username }}</h2>
    <p>
        Te encuentras en el curso {{ courseName }}
    </p>

    {% if premium %}
        <p>
            El curso es Premium
        </p>
    {% else %}
        <p>
            El curso es gratuito para todo el mundo
        </p>
    {% endif %}

    {% if courses %}
        <p>Listado de cursos: </p>
        <ul>
            {% for course in courses %}
                <li>
                    {{ course }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <img src="{{ url_for('static', filename='img/dogs.jpg') }} " alt="">
</body>
</html>